@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Rakkas&family=Signika+Negative:wght@300..700&display=swap');

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}


div#contenedor {
   
    width: 100%;
    margin: auto;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.1);
}

header {
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: rgb(2, 199, 2);
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #cfd8dc;
}

/* Estilos para la tabla de usuarios */
.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.tabla-usuarios th,
.tabla-usuarios td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tabla-usuarios th {
    background-color: #f2f2f2;
}

/* Estilos para la tabla de noticias */
.tabla-noticias {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.tabla-noticias th,
.tabla-noticias td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tabla-noticias th {
    background-color: #f2f2f2;
}

/* Estilos para la tabla de ligas */
.tabla-ligas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.tabla-ligas th,
.tabla-ligas td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tabla-ligas th {
    background-color: #f2f2f2;
}

header a,
header a:visited {
    color: rgb(7, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #b3e5fc;
    font-weight: bold;
    text-decoration: underline;
}

header .Logo {
    display: flex;
    text-align: left;
    margin-right: -250px;
    margin-left: 20px;
}

header .Logo img {
    width: 80px;
    height: 80px;
}

header .Logo h1 {
    align-items: center;
    display: flex;
    margin-left: 20px;
    font-family: 'Signika Negative', sans-serif;
}

nav {
    padding: 10px;
    float: left;
    width: 170px;
    height: 800px;
    background-color: #e6fbde;
    margin-top: 70px;
    
}

nav a,
nav a:visited {
    color: #455a64;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0288d1;
    text-decoration: underline;
}

aside {
    padding: 10px;
    float: right;
    width: 250px;
    height: 800px;
    background-color: #e6fbde;
    margin-top: 70px;
    
}

main {
    padding: 10px;
    float: left;
    min-height: 800px;
    width: 910px;
    background-color: white;
    margin-top: 70px;
}

.main-esqueleto2 {
    padding: 10px;
    float: left;
    min-height: 800px;
    width: 1300px;
    background-color: white;
    margin-top: 70px;
}

footer {
    clear: both;
    padding: 20px;
    background-color: #607d8b;
    color: white;
    text-align: center;
    border-top: 1px solid #cfd8dc;
}

div.saludo {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: bold;
    margin-right: -100px;
}

fieldset {
    border: 1px solid black;
    width: 15em;
    margin: 0 auto;
}

legend {
    color: #fff;
    background: #607d8b;
    border: 1px solid black;
    padding: 2px 6px;
}

label {
    width: 300px;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block;
}

button {
    margin-left: 100px;
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #01579b;
}

form {
    text-align: center;
}

form button {
    margin-top: 10px;
}

i {
    padding-right: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    
    
}

#container h3,
#container h2 {
    text-align: center;
    
}

#container h2{
    text-align: center; 
    font-size: 36px; 
    color: #62a370; 
    margin-bottom: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

#container h3 {
    text-align: center; 
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

#container h3 a {
    text-decoration: none; 
    color: #62a370; 
    transition: color 0.3s ease; 
}

#container h3 a:hover {
    color: #01579b; 
}

#nots{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    margin: 10px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}

#foros{
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.noticia{
    
    border-bottom: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
    border: 2px;
    box-shadow: 0px 0px 10px 0px rgb(160, 164, 160) inset;
    background-color: #fff; 
    border-radius: 10px; 

}

.noticia h3 {
    text-align: center; 
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.noticia h3 a {
    text-decoration: none; 
    color: #62a370; 
    transition: color 0.3s ease; 
}

.noticia h3 a:hover {
    color: #01579b; 
}

.foro{
    border-bottom: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
    border: 2px;
    box-shadow: 0px 0px 10px 0px rgb(160, 164, 160) inset;
    background-color: #fff; 
    border-radius: 10px; 
}




.admin-buttons {
    list-style-type: none;
    padding: 0;
}

.admin-buttons li {
    display: inline-block;
    margin: 30px;
    margin-right: 40px;
}

.admin-buttons li a {
    display: block;
    background-color: #0288d1;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-buttons li a:hover {
    background-color: #0288d1;
}

.enlace {
    margin-right: auto;
    margin-left: 15px;
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.enlace:hover {
    background-color: #0056b3;
}


.editar-btn {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 10px; 
    border: none;
    color: white;
    cursor: pointer;
}

.titulo-noticia-BarraLateral a {
    text-decoration: none; 
    font-family: 'Signika Negative', sans-serif; 
    font-size: 13px; 
    color: #62a370; 
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 1510px) {
    #container {
        display: block; 
    }

    .noticia,
    .foroscontent {
        width: 100%; 
    }

    .main-esqueleto2 {
        padding: 10px;
        float: left;
        min-height: 800px;
        width: 50%;
        background-color: white;
        margin-top: 70px;
    }

    div.saludo {
        width: 30%;
        display: flex;
        margin-right: 80px;
        align-items: center;
        text-align: right;
        font-weight: bold;
        
    }

    main {
        padding: 10px;
        float: left;
        min-height: 800px;
        width: 34%;
        background-color: white;
        margin-top: 70px;
    }

    aside {
        padding: 10px;
        float: right;
        width: 20%;
        height: 800px;
        background-color: #e6fbde;
        margin-top: 70px;
        right: 0;
        
    }

    nav {
        padding: 10px;
        float: left;
        width: 20%;
        height: 800px;
        background-color: #e6fbde;
        margin-top: 70px;
        
    }

}




