.noticia-imagenes-din {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.imagen-noticia-din {
    width: 35%;
    height: 35%;
    margin-right: 20px; 
    margin-left: 5%;
    border-radius: 5%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s; 
}

.logo-liga-din {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.titulo-noticia {
    text-align: center;
    font-size: 50px;
    font-weight: bold; 
    color: #62a370; 
    text-transform: uppercase; 
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.contenido{
    font-size: 20px;
    margin-right: 20px;
    column-count: 2; 
    column-gap: 20px; 
}

.autorfecha{
    font-size: 25px;
    margin-right: 50px; 
    column-gap: 20px;
    text-align: right;
    font-weight: bold;
}

.autorfechahome{
    font-weight: bold;
}

.liga-favorita {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #62a370; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.contenido-con-imagen {
    text-align: center;
    margin-bottom: 20px;
}

.noticia-imagen img {
    width: 100%;
    height: auto;
    border-radius: 5%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
}

.noticia-imagen img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

.imagen-noticia-container {
    text-align: center; 
    margin-bottom: 10px;
}

.imagen-noticia {
    max-width: 50%; 
    height: auto; 
    border-radius: 10px; 
    overflow: hidden; 
}

#lista-ligas{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.logo-liga-din{
    width: 20%;
    height: 70%;
}


.lista-ligas-unica{
    flex-grow: 1;
}
