.formulario{
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 30px; /* Aumenta el espacio interno del formulario */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    
}

/* Estilo para las etiquetas del formulario */
.formulario label {
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de texto */
.formulario input,
.formulario textarea {
    width: 100%; /* Ancho del 100% */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Margen inferior */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Tamaño del contenido incluido en el ancho y alto */
}

/* Estilo para el botón de enviar */
.formulario input[type="submit"] {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de apuntar */
    transition: background-color 0.3s; /* Transición suave */
}

/* Estilo hover para el botón de enviar */
.formulario input[type="submit"]:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}


/* Estilos para el formulario de nuevo usuario */
.formulario-nuevo-usuario {
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 30px; /* Aumenta el espacio interno del formulario */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    
}

/* Estilos para los campos del formulario */
.formulario select {
    width: 100%;
    padding: 15px; /* Aumenta el espacio interno de los campos */
    margin-bottom: 20px; /* Aumenta el espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de enviar */
.formulario button {
    width: 65%; /* Ajusta el ancho del botón al 100% del formulario */
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Hace que el botón ocupe todo el ancho disponible */
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}


/* Estilos hover para el botón de enviar */


/* Estilos para los mensajes de error */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px; /* Aumenta el espacio entre los mensajes de error */
}



/* Estilos para el formulario de login */


.formulario legend {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 20px; /* Espacio debajo del título */
}


.formulario .centrar {
    text-align: center; /* Alinea el contenido al centro */
}
