body {
    background-color: #F5F5F5;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

div#contenedor {
    width: 100%;
    margin: auto;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: #7d7d7d;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #CFD8DC;
}

header a, header a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
} 

header a:hover {
    color: #B3E5FC;
    font-weight: bold;
    text-decoration: underline;
} 

header .Logo {
    display: flex;
    text-align: left;
    margin-right: -250px;
    margin-left: 20px;
}

header .Logo img {
    width: 80px;
    height: 80px;
}

header .Logo h1 {
    align-items: center;
    display: flex;
    margin-left: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    padding: 10px;
    float: left;
    width: 170px;
    height: 800px;
    background-color: #f3fff8;
	margin-top: 90px;
}

nav a, nav a:visited {
    color: #455A64;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
} 

nav a:hover {
    color: #0288D1;
    text-decoration: underline;
} 

aside {
    padding: 10px;
    float: right;
    width: 250px;
    height: 800px;
    background-color: #e6ffe6;
	margin-top: 90px;
	margin-right: 139px;
}

main {
    padding: 10px;
    float: left;
    min-height: 800px;
    width: 1200px;
    background-color: white;
	margin-top: 90px;
}

footer {
    clear: both;
    padding: 20px;
    background-color: #607D8B;
    color: white;
    text-align: center;
    border-top: 1px solid #CFD8DC;
}

div.saludo {
	
	width: 30%;
	display: flex;
	align-items: center;
    text-align: right;
    font-weight: bold;
	margin-right: -100px;

}

fieldset {
    border: 1px solid black;
    width: 15em;
    margin: 0 auto;
}

legend {
    color: #fff;
    background: #607D8B;
    border: 1px solid black;
    padding: 2px 6px;
} 

label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

button {
    margin-left: 100px;
    background-color: #0288D1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #01579B;
}